<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
   <style>
        body {background-color:yellow}
        form {background-color:grey}
        h1   {background-color:grey}
    </style>
</head>
<body>
<form action="" method="post">
    {% csrf_token %}
    <h1>LEAVE A COMMENT</h1>
    <table>
        <tr>
            <td><label>Enter Your Name:</label></td>
            <td><input type="text" name="name" placeholder="Enter Your Name"></td>
        </tr>
        <tr>
            <td><label>Enter your Email:</label></td>
            <td><input type="text" name="email" placeholder="Enter Your email"></td>
        </tr>
        <tr>
            <td><label>Enter Your Comment:</label></td>
            <td><textarea  name="content"></textarea>
        </tr>
        <tr>
            <td><input type="submit" value="submit"></td>
        </tr>
    </table>


</form>



</body>
</html>