<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        body {background-color:yellow}
        form {background-color:grey}
        h1   {background-color:grey}
        p    {background-color:grey}
    </style>
</head>
<body>
<h1>FORGOT PASSWORD</h1>
<P>HAVE YOU FORGOTTEN THE PASSWORD OF YOUR PROFILE/</P>
<form action="" method="post">
    {% csrf_token %}
    <label>Enter the username:</label>
    <input type="text" name="username" placeholder="Enter your username">
    <label>Enter the new password:</label>
    <input type="password" name="repassword" placeholder="Enter your password">
    <input type="submit" value="SUBMIT">
</form>

</body>
</html>