<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        body {background-color:yellow}

    </style>
</head>
<body>
<table>
{% for Profiledata in Profiledatas %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ Profiledata.username }}</td>
        <td>{{ Profiledata.email }}</td>
        <td><a href="{% url 'fullprofile' Profiledata.id %}">VIEW DETAILS</a></td>
        <td><a href="{% url 'updates' Profiledata.id %}">UPDATE DETAILS</a></td>


    </tr>
{% endfor %}
</table>
</body>
</html>